* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px;
    flex-flow: row wrap;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

.logo {
    flex: 20%;
    text-align: left;
    margin-left: 10%;
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: #180F4A;
    font-size: 34px;
}

.menu {
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #180F4A;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    border-top: 4px solid #180F4A;
    color: #FF2978;
}

#botao {
    background-color: #180F4A;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 15%;
    margin-left: 5%;
}

.botao:hover {
    background-color: #FF2978;
    border: none;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    padding-top: 100px;
}

.headline {
    margin-left: 10%;
    flex: 40%;
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #180F4A;
    padding: 0;
    margin: 0;
}

.headline p {
    color: gray;
    text-align: left;
}

.contact-btn {
    display: inline-block;
    background-color: #FF2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;

}

.contact-btn:hover {
    background-color: #180F4A;

}

.img-headline {
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

section {
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
}

section h2 {
    width: 100%;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    margin: 0;
    color: #180F4A;
}

.servicos {
    display: inline-block;
    margin-top: 5%;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #FF2978;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.text-ocult {
    display: none;
}

.card:hover {
    background-color: #FF2978;
    color: white;
    padding: 40px;
}

.card:hover img {
    display: none;
}

.card:hover .card-text {
    display: none;
}

.card:hover .text-ocult {
    display: block;
}

.text-ocult {
    display: none;
}

footer {
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #180F4A, #090422, black);
    text-align: center;
    border-top: 5px solid #FF2978;

}

.logo-rodape {
    padding: 100px;
}

.agencia {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 34px;
}

.whats {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

@media screen and (max-width: 1005px) {
    .menu {
        display: none;
    }

    .navbar {
        position: relative;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 50px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .card {
        width: 100%;
    }

    .whats {
        display: none;

    }
}